/* Change font of body */
body {
   font-family: Arial, Helvetica, sans-serif; font-size: 18px;
}

/* Selecte header and footer and change background color */
header, footer {
   background-color: #F59900;
}

/* Change color of font for site-title (added class to h1) */
.site-title {
   color: #792b21;
}

/* Uses ID selector to add box-shadow to my picture */
#my-image {
   box-shadow: 0 0 2px 1px #000;
}

/* Replace the bullet points to squares */
.squarebullet {
   list-style: square;
}

/* Add background to the odd list items in the hobby list */
.squarebullet li:nth-child(odd){
   background-color: #ffe6be;
}

/* ------------Styling Navigation------------*/
/* Remove the bullets from navigation */
nav ul {
   list-style: none;
}

/* Remove underline from links */
nav ul a {
   text-decoration: none;
}

/* Add background and border to links */
nav ul a, 
nav ul a:link,
nav ul a:visited {
   background-color: #ffe6be;
   border: 1px solid #5a2118;
}

/* Change background colour on hover and focus state of links */
nav ul a:hover {
   background-color: #ffc66a;
}